extends layout

block content
  h2 We received your message, #{firstName}!
  p Thank you for reaching out to Nashma Agribusiness. Our team has received your enquiry and will respond within <strong>1–2 business days</strong>.
  .info-row
    p
      strong Subject:&nbsp;
      | #{subject}
    p
      strong Your email:&nbsp;
      | #{email}
  p While you wait, feel free to explore our products or learn about our women's training programme.
  p(style='text-align:center;')
    a.btn(href='https://www.nashmaagribusiness.com/products') Browse Products
  hr.divider
  p If you have an urgent enquiry, call us directly:
  p
    strong (+233) 0545086577 &nbsp;/&nbsp; 0243241649
  p Warm regards,
  p
    strong The Nashma Agribusiness Team
